# Q1: Import pandas library

In [1]:
import pandas as pd

# Q2: Read instagram_users.csv file

In [3]:
 df = pd.read_csv("instagram_users.csv")

# Q3: Print the number of rows and columns contained in the dataset

In [4]:
print(f"Dataset shape: {df.shape} (rows, columns)")

Dataset shape: (65326, 18) (rows, columns)

# Q4: Print the size of dataset

In [5]:
print(f"Dataset size: {df.size}")

Dataset size: 1175868

# Q5: Print the data type of each column

In [6]:
print(f"Data types:\n{df.dtypes}")

Data types:
pos        int64
flw        int64
flg        int64
bl         int64
pic        int64
lin        int64
cl         int64
cz       float64
ni       float64
erl      float64
erc      float64
lt       float64
hc       float64
pr       float64
fo       float64
cs       float64
pi       float64
class     object
dtype: object

# Q6: Print the entire dataset
Note: if your dataset contains more than 60 rows, only the first 5 rows and the last 5 rows will be printed.

In [7]:
if df.shape[0] > 60:
  print(df.head(), "\n... (Dataset exceeds 60 rows. Truncated for brevity)...\n", df.tail())
else:
  print(df)

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f
... (Dataset exceeds 60 rows. Truncated for brevity)...
         pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q7: Print the first 5 rows

In [8]:
print(df.head())

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

# Q8: Print the last 5 rows

In [9]:
print(df.tail())

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q9: Print the total number of null values

In [10]:
print(f"Total null values:\n{df.isnull().sum()}")

Total null values:
pos      0
flw      0
flg      0
bl       0
pic      0
lin      0
cl       0
cz       0
ni       0
erl      0
erc      0
lt       0
hc       0
pr       0
fo       0
cs       0
pi       0
class    0
dtype: int64

# Q10: Print the rows that has duplicate values

In [11]:
duplicates = df[df.duplicated()]
if duplicates.empty:
  print("No duplicate rows found")
else:
  print(duplicates)

       pos  flw   flg  bl  pic  lin  cl   cz   ni  erl  erc   lt   hc   pr  \
4118     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4165     0   30   149   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5812     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6500     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8134     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...   ...  ..  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
32745    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32747    0   34  7500   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32748    0   77  7400   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32749    0   70  7300   0    0    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32764    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0

        fo   cs   pi class
4118   0.0  0.0  0.0     f
4165   0.0  1.0  0.0     f
5812   0.0  0.0  0.0     f
6500   0.0  0.0  0.0     f
8134   0.0  0.0  0.0     f
...    ...  ...  ...   ...
32745  0.0  0.0  0.0     f
32747  0.0  1.0  0.0     f
32748  0.0  1.0  0.0     f
32749  0.0  1.0  0.0     f
32764  0.0  0.0  0.0     f

[1082 rows x 18 columns]

# Q11: Remove all duplicate values

In [12]:
df = df.drop_duplicates()

# Q12: Print the number of rows and columns contained in the dataset after removing the duplicate values

In [13]:
print(f"Dataset shape after removing duplicates: {df.shape} (rows, columns)")

Dataset shape after removing duplicates: (64244, 18) (rows, columns)

# Q13: Rename all dataset's columns

|  Column name  |  New column name  |  Description  |
| ----- | -------- | ------- |
| pos    | Num_posts        | Number of total posts that the user has ever posted   |
| flg    | Num_following    | Number of following                                   |
| flr    | Num_followers    | Number of followers                                   |
| bl     | Biography_length | Length (number of characters) of the user's biography |
| pic    | Picture_availability | Value 0 if the user has no profile picture, or 1 if has |
| lin    | Link_availability| Value 0 if the user has no external URL, or 1 if has |
| cl     | Average_caption_length | The average number of character of captions in media |
| cz     | Caption_zero     | Percentage (0.0 to 1.0) of captions that has almost zero (<=3) length |
| ni     | Non_image_percentage | Percentage (0.0 to 1.0) of non-image media. There are three types of media on an Instagram post, i.e. image, video, carousel
| erl    | Engagement_rate_like | Engagement rate (ER) is commonly defined as (num likes) divide by (num media) divide by (num followers)
| erc    | Engagement_rate_comment | Similar to ER like, but it is for comments |
| lt     | Location_tag_percentage | Percentage (0.0 to 1.0) of posts tagged with location |
| hc     | Average hashtag count   | Average number of hashtags used in a post |
| pr     | Promotional keywords | Average use of promotional keywords in hashtag, i.e. regrann, contest, repost, giveaway, mention, share, give away, quiz |
| fo     | Followers keywords | Average use of followers hunter keywords in hashtag, i.e. follow, like, folback, follback, f4f|
| cs     | Cosine similarity  | Average cosine similarity of between all pair of two posts a user has |
| pi     | Post interval      | Average interval between posts (in hours) |
| class  | real_fake          | r (real/authentic user), f (fake user/bought followers) |

In [14]:
column_renaming = {
  "pos": "Num_posts",
  "flg": "Num_following",
  "flr": "Num_followers",
  "bl": "Biography_length",
  "pic": "Picture_availability",
  "lin": "Link_availability",
  "cl": "Average_caption_length",
  "cz": "Caption_zero",
  "ni": "Non_image_percentage",
  "erl": "Engagement_rate_like",
  "erc": "Engagement_rate_comment",
  "lt": "Location_tag_percentage",
  "hc": "Average_hashtag_count",
  "pr": "Promotional_keywords",
  "fo": "Followers_keywords",
  "cs": "Cosine_similarity",
  "pi": "Post_interval",
  "class": "real_fake"  # Ensure lowercase for consistency
}
df = df.rename(columns=column_renaming)
print(f"Columns renamed successfully!")

Columns renamed successfully!

# Q14: Change the class's values to real and fake

In [15]:
df["real_fake"] = df["real_fake"].replace({"r": "real", "f": "fake"})
print(f"Class values updated to 'real' and 'fake'")

Class values updated to 'real' and 'fake'

# Q15: Print the total number of each fake accounts and real accounts

In [16]:
fake_count = df[df["real_fake"] == "fake"].shape[0]
real_count = df[df["real_fake"] == "real"].shape[0]
print(f"Number of fake accounts: {fake_count}")
print(f"Number of real accounts: {real_count}")

Number of fake accounts: 31784
Number of real accounts: 32460

# Q16: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column

In [17]:
print(df.describe(include='all'))

           Num_posts           flw  Num_following  Biography_length  \
count   64244.000000  6.424400e+04   64244.000000      64244.000000
unique           NaN           NaN            NaN               NaN
top              NaN           NaN            NaN               NaN
freq             NaN           NaN            NaN               NaN
mean      179.545047  1.202470e+03    2297.041732         58.464464
std       729.171634  2.188954e+04    2572.939318         64.228211
min         0.000000  0.000000e+00       0.000000          0.000000
25%         6.000000  1.310000e+02     403.000000          0.000000
50%        31.000000  3.480000e+02     997.000000         34.000000
75%       127.000000  8.300000e+02    3500.000000        111.000000
max     76200.000000  3.900000e+06    8800.000000        555.000000

        Picture_availability  Link_availability  Average_caption_length  \
count           64244.000000       64244.000000            64244.000000
unique                   NaN                NaN                     NaN
top                      NaN                NaN                     NaN
freq                     NaN                NaN                     NaN
mean                0.959140           0.286673              138.822131
std                 0.197967           0.452211              216.786922
min                 0.000000           0.000000               -1.000000
25%                 1.000000           0.000000                9.000000
50%                 1.000000           0.000000               48.000000
75%                 1.000000           1.000000              174.000000
max                 1.000000           1.000000             3644.000000

        Caption_zero  Non_image_percentage  Engagement_rate_like  \
count   64244.000000          64244.000000          64244.000000
unique           NaN                   NaN                   NaN
top              NaN                   NaN                   NaN
freq             NaN                   NaN                   NaN
mean        0.254160              0.196484             19.469109
std         0.339104              0.253804            122.036954
min         0.000000              0.000000              0.000000
25%         0.000000              0.000000              3.000000
50%         0.055556              0.083000              9.690000
75%         0.444444              0.333000             18.860001
max         1.000000              1.000000          26650.000000

        Engagement_rate_comment  Location_tag_percentage  \
count              64244.000000             64244.000000
unique                      NaN                      NaN
top                         NaN                      NaN
freq                        NaN                      NaN
mean                   1.158611                 0.212395
std                    5.857458                 0.301645
min                    0.000000                 0.000000
25%                    0.090000                 0.000000
50%                    0.460000                 0.000000
75%                    1.060000                 0.357000
max                 1009.090027                 1.000000

        Average_hashtag_count  Promotional_keywords  Followers_keywords  \
count            64244.000000          64244.000000        64244.000000
unique                    NaN                   NaN                 NaN
top                       NaN                   NaN                 NaN
freq                      NaN                   NaN                 NaN
mean                 0.516348              0.033296            0.053727
std                  1.164729              0.222799            0.523365
min                  0.000000              0.000000            0.000000
25%                  0.000000              0.000000            0.000000
50%                  0.111000              0.000000            0.000000
75%                  0.611000              0.000000            0.000000
max                 30.000000             20.000000           58.000000

        Cosine_similarity  Post_interval real_fake
count        64244.000000   64244.000000     64244
unique                NaN            NaN         2
top                   NaN            NaN      real
freq                  NaN            NaN     32460
mean             0.289861     504.836848       NaN
std              0.341986     950.611615       NaN
min              0.000000       0.000000       NaN
25%              0.032954      29.064719       NaN
50%              0.133135     190.369553       NaN
75%              0.431373     591.858658       NaN
max              1.000000   26786.134766       NaN