# Q1: Import pandas library

In [34]:
# write your code here ^_^
import pandas as pd

# Q2: Read instagram_users.csv file

In [35]:
# write your code here ^_^
data = pd.read_csv("instagram_users.csv")
print(data)

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
0        44    48   325   33    1    0   12  0.000000  0.000   0.000000  0.00
1        10    66   321  150    1    0  213  0.000000  1.000  14.390000  1.97
2        33   970   308  101    1    1  436  0.000000  1.000  10.100000  0.30
3        70    86   360   14    1    0    0  1.000000  0.000   0.780000  0.06
4         3    21   285   73    1    0   93  0.000000  0.000  14.290000  0.00
...     ...   ...   ...  ...  ...  ...  ...       ...    ...        ...   ...
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
0      0.000  0.000  0.0  0.000  0.111111     0.094985     f
1      0.000  1.500  0.0  0.000  0.206826   230.412857     f
2      0.000  2.500  0.0  0.056  0.572174    43.569939     f
3      0.000  0.000  0.0  0.000  1.000000     5.859799     f
4      0.667  0.000  0.0  0.000  0.300494     0.126019     f
...      ...    ...  ...    ...       ...          ...   ...
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

[65326 rows x 18 columns]

# Q3: Print the number of rows and columns contained in the dataset

In [36]:
# write your code here ^_^

data.shape
# print(f"Rows: {len(data.axes[0])}, Columns: {len(data.adataes[1])}")
# #or
# print(f"Rows: {len(data.indedata)}, Columns: {len(data.columns)}")

(65326, 18)

# Q4: Print the size of dataset

In [37]:
# write your code here ^_^
print(data.size)

1175868

# Q5: Print the data type of each column

In [38]:
# write your code here ^_^
print(data.dtypes)

pos        int64
flw        int64
flg        int64
bl         int64
pic        int64
lin        int64
cl         int64
cz       float64
ni       float64
erl      float64
erc      float64
lt       float64
hc       float64
pr       float64
fo       float64
cs       float64
pi       float64
class     object
dtype: object

# Q6: Print the entire dataset
Note: if your dataset contains more than 60 rows, only the first 5 rows and the last 5 rows will be printed.

In [39]:
# write your code here ^_^
print(data)

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
0        44    48   325   33    1    0   12  0.000000  0.000   0.000000  0.00
1        10    66   321  150    1    0  213  0.000000  1.000  14.390000  1.97
2        33   970   308  101    1    1  436  0.000000  1.000  10.100000  0.30
3        70    86   360   14    1    0    0  1.000000  0.000   0.780000  0.06
4         3    21   285   73    1    0   93  0.000000  0.000  14.290000  0.00
...     ...   ...   ...  ...  ...  ...  ...       ...    ...        ...   ...
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
0      0.000  0.000  0.0  0.000  0.111111     0.094985     f
1      0.000  1.500  0.0  0.000  0.206826   230.412857     f
2      0.000  2.500  0.0  0.056  0.572174    43.569939     f
3      0.000  0.000  0.0  0.000  1.000000     5.859799     f
4      0.667  0.000  0.0  0.000  0.300494     0.126019     f
...      ...    ...  ...    ...       ...          ...   ...
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

[65326 rows x 18 columns]

# Q7: Print the first 5 rows

In [40]:
# write your code here ^_^
print(data.head(5))

   pos  flw  flg   bl  pic  lin   cl   cz   ni    erl   erc     lt   hc   pr  \
0   44   48  325   33    1    0   12  0.0  0.0   0.00  0.00  0.000  0.0  0.0
1   10   66  321  150    1    0  213  0.0  1.0  14.39  1.97  0.000  1.5  0.0
2   33  970  308  101    1    1  436  0.0  1.0  10.10  0.30  0.000  2.5  0.0
3   70   86  360   14    1    0    0  1.0  0.0   0.78  0.06  0.000  0.0  0.0
4    3   21  285   73    1    0   93  0.0  0.0  14.29  0.00  0.667  0.0  0.0

      fo        cs          pi class
0  0.000  0.111111    0.094985     f
1  0.000  0.206826  230.412857     f
2  0.056  0.572174   43.569939     f
3  0.000  1.000000    5.859799     f
4  0.000  0.300494    0.126019     f

# Q8: Print the last 5 rows

In [41]:
# write your code here ^_^
print(data.tail(5))

        pos   flw   flg   bl  pic  lin   cl        cz     ni        erl   erc  \
65321    13   145   642    0    1    0    7  0.461538  0.000  14.270000  0.58
65322   652  3000  1300  146    1    1  384  0.000000  0.389   8.520000  0.13
65323  1500  3700  3200  147    1    1  129  0.000000  0.111   9.390000  0.31
65324   329  1500  1800  218    1    1  290  0.055556  0.000   6.350000  0.26
65325   206   659   608   27    1    0   77  0.000000  0.333  25.549999  0.53

          lt     hc   pr     fo        cs           pi class
65321  0.000  0.077  0.0  0.000  0.192308  1745.291260     r
65322  0.000  1.611  0.0  0.000  0.169917    54.629120     r
65323  0.722  0.000  0.0  0.056  0.058908   129.802048     r
65324  0.222  0.500  0.0  0.000  0.103174    53.402840     r
65325  0.222  0.222  0.0  0.167  0.017505   604.981445     r

# Q9: Print the total number of null values

In [42]:
# write your code here ^_^
print(data.isnull().sum().sum())

0

# Q10: Print the rows that has duplicate values

In [43]:
# write your code here ^_^
print(data[data.duplicated()])

       pos  flw   flg  bl  pic  lin  cl   cz   ni  erl  erc   lt   hc   pr  \
4118     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4165     0   30   149   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5812     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6500     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8134     0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...   ...  ..  ...  ...  ..  ...  ...  ...  ...  ...  ...  ...
32745    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32747    0   34  7500   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32748    0   77  7400   0    1    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32749    0   70  7300   0    0    0   0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
32764    0    0     0   0    0    0  -1  0.0  0.0  0.0  0.0  0.0  0.0  0.0

        fo   cs   pi class
4118   0.0  0.0  0.0     f
4165   0.0  1.0  0.0     f
5812   0.0  0.0  0.0     f
6500   0.0  0.0  0.0     f
8134   0.0  0.0  0.0     f
...    ...  ...  ...   ...
32745  0.0  0.0  0.0     f
32747  0.0  1.0  0.0     f
32748  0.0  1.0  0.0     f
32749  0.0  1.0  0.0     f
32764  0.0  0.0  0.0     f

[1082 rows x 18 columns]

# Q11: Remove all duplicate values

In [44]:
# write your code here ^_^
data.drop_duplicates(inplace=True)

# Q12: Print the number of rows and columns contained in the dataset after removing the duplicate values

In [45]:
# write your code here ^_^
print(data.shape)

(64244, 18)

# Q13: Rename all dataset's columns

|  Column name  |  New column name  |  Description  |
| ----- | -------- | ------- |
| pos    | Num_posts        | Number of total posts that the user has ever posted   |
| flg    | Num_following    | Number of following                                   |
| flr    | Num_followers    | Number of followers                                   |
| bl     | Biography_length | Length (number of characters) of the user's biography |
| pic    | Picture_availability | Value 0 if the user has no profile picture, or 1 if has |
| lin    | Link_availability| Value 0 if the user has no external URL, or 1 if has |
| cl     | Average_caption_length | The average number of character of captions in media |
| cz     | Caption_zero     | Percentage (0.0 to 1.0) of captions that has almost zero (<=3) length |
| ni     | Non_image_percentage | Percentage (0.0 to 1.0) of non-image media. There are three types of media on an Instagram post, i.e. image, video, carousel
| erl    | Engagement_rate_like | Engagement rate (ER) is commonly defined as (num likes) divide by (num media) divide by (num followers)
| erc    | Engagement_rate_comment | Similar to ER like, but it is for comments |
| lt     | Location_tag_percentage | Percentage (0.0 to 1.0) of posts tagged with location |
| hc     | Average hashtag count   | Average number of hashtags used in a post |
| pr     | Promotional keywords | Average use of promotional keywords in hashtag, i.e. regrann, contest, repost, giveaway, mention, share, give away, quiz |
| fo     | Followers keywords | Average use of followers hunter keywords in hashtag, i.e. follow, like, folback, follback, f4f|
| cs     | Cosine similarity  | Average cosine similarity of between all pair of two posts a user has |
| pi     | Post interval      | Average interval between posts (in hours) |
| class  | real_fake          | r (real/authentic user), f (fake user/bought followers) |

In [46]:
# write your code here ^_^
column_mapping = {
    'pos': 'Num_posts',
    'flg': 'Num_following',
    'flr': 'Num_followers',
    'bl': 'Biography_length',
    'pic': 'Picture_availability',
    'lin': 'Link_availability',
    'cl': 'Average_caption_length',
    'cz': 'Caption_zero',
    'ni': 'Non_image_percentage',
    'erl': 'Engagement_rate_like',
    'erc': 'Engagement_rate_comment',
    'lt': 'Location_tag_percentage',
    'hc': 'Average_hashtag_count',
    'pr': 'Promotional_keywords',
    'fo': 'Followers_keywords',
    'cs': 'Cosine_similarity',
    'pi': 'Post_interval',
    'class': 'real_fake'
}
data.rename(columns=column_mapping, inplace=True)
print(data.columns)

Index(['Num_posts', 'flw', 'Num_following', 'Biography_length',
       'Picture_availability', 'Link_availability', 'Average_caption_length',
       'Caption_zero', 'Non_image_percentage', 'Engagement_rate_like',
       'Engagement_rate_comment', 'Location_tag_percentage',
       'Average_hashtag_count', 'Promotional_keywords', 'Followers_keywords',
       'Cosine_similarity', 'Post_interval', 'real_fake'],
      dtype='object')

# Q14: Change the class's values to real and fake

In [47]:
# write your code here ^_^
data['real_fake'] = data['real_fake'].apply(lambda x: 'real' if x == 'r' else 'fake')

# Q15: Print the total number of each fake accounts and real accounts

In [48]:
# write your code here ^_^
data['real_fake'].value_counts()

real    32460
fake    31784
Name: real_fake, dtype: int64

# Q16: Print the count, mean, std, min, 25%, 50%, 75% and the max for each column

In [49]:
# write your code here ^_^
print(data.describe())

          Num_posts           flw  Num_following  Biography_length  \
count  64244.000000  6.424400e+04   64244.000000      64244.000000
mean     179.545047  1.202470e+03    2297.041732         58.464464
std      729.171634  2.188954e+04    2572.939318         64.228211
min        0.000000  0.000000e+00       0.000000          0.000000
25%        6.000000  1.310000e+02     403.000000          0.000000
50%       31.000000  3.480000e+02     997.000000         34.000000
75%      127.000000  8.300000e+02    3500.000000        111.000000
max    76200.000000  3.900000e+06    8800.000000        555.000000

       Picture_availability  Link_availability  Average_caption_length  \
count          64244.000000       64244.000000            64244.000000
mean               0.959140           0.286673              138.822131
std                0.197967           0.452211              216.786922
min                0.000000           0.000000               -1.000000
25%                1.000000           0.000000                9.000000
50%                1.000000           0.000000               48.000000
75%                1.000000           1.000000              174.000000
max                1.000000           1.000000             3644.000000

       Caption_zero  Non_image_percentage  Engagement_rate_like  \
count  64244.000000          64244.000000          64244.000000
mean       0.254160              0.196484             19.469109
std        0.339104              0.253804            122.036954
min        0.000000              0.000000              0.000000
25%        0.000000              0.000000              3.000000
50%        0.055556              0.083000              9.690000
75%        0.444444              0.333000             18.860001
max        1.000000              1.000000          26650.000000

       Engagement_rate_comment  Location_tag_percentage  \
count             64244.000000             64244.000000
mean                  1.158611                 0.212395
std                   5.857458                 0.301645
min                   0.000000                 0.000000
25%                   0.090000                 0.000000
50%                   0.460000                 0.000000
75%                   1.060000                 0.357000
max                1009.090027                 1.000000

       Average_hashtag_count  Promotional_keywords  Followers_keywords  \
count           64244.000000          64244.000000        64244.000000
mean                0.516348              0.033296            0.053727
std                 1.164729              0.222799            0.523365
min                 0.000000              0.000000            0.000000
25%                 0.000000              0.000000            0.000000
50%                 0.111000              0.000000            0.000000
75%                 0.611000              0.000000            0.000000
max                30.000000             20.000000           58.000000

       Cosine_similarity  Post_interval
count       64244.000000   64244.000000
mean            0.289861     504.836848
std             0.341986     950.611615
min             0.000000       0.000000
25%             0.032954      29.064719
50%             0.133135     190.369553
75%             0.431373     591.858658
max             1.000000   26786.134766